:root {
    --fc-border-color: #7C7C7C;
}

.group-UserEvent {
    background-color: darkred;

}

.group-Assignment {
    background-color: darkgreen;
}

.group-Lecture {
    background-color: blueviolet;
}

.group-Lecture {
    background-color: cadetblue;
}

.group-Lab {
    background-color: darkorange;
}

.group-OfficeHours {
    background-color: ;
}