:root {
    --fc-border-color: #7C7C7C;
}

.group-UserEvent {
    background-color: darkred;
}

.group-UserEvent:hover {
    background-color: darkred;
    opacity: .9;
}

.group-Assignment {
    background-color: darkgreen;
}

.group-Assignment:hover {
    background-color: darkgreen;
    opacity: .9;
}

.group-Lecture {
    background-color: blueviolet;
}

.group-Lecture:hover {
    background-color: blueviolet;
    opacity: .9;
}

.group-Lecture {
    background-color: cadetblue;
}

.group-Lecture:hover {
    background-color: cadetblue;
    opacity: .9;
}

.group-Lab {
    background-color: darkorange;
}

.group-Lab:hover {
    background-color: darkorange;
    opacity: .9;
}

.group-OfficeHours {
    background-color: blue;
}

.group-OfficeHours:hover {
    background-color: blue;
    opacity: .9;
}

.group-Quiz {
    background-color: darkgoldenrod;
}

.group-Quiz:hover {
    background-color: darkgoldenrod;
    opacity: .9;
}

.group-Exam {
    background-color: indigo;
}

.group-Exam:hover {
    background-color: indigo;
    opacity: .9;
}